.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .btn-group {
    margin-top: 50px;
  }
  
  #taxLiability {
    margin-top: 50px;
  }
 
.container-sm{
    margin: 20px;
    
    } 
    
    .container {
        border: 1px solid black; /* Add border */
        padding: 20px; /* Add some padding to the container */
        background-color: #f2f2f3; /* Change background color */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 170px;
        margin-bottom: 30px;
        border-radius: 40px;
        padding: 5px;
    
      }
      h1{
        font-size: 35px;
        font-weight: 600;
        color: black;
        /* margin-bottom: 15px; */
        margin-bottom: 15px;
        margin-top: 20px;
        
    
      }
      .btn-primary{
       
    
        background-color: blue;
      color: white;
      font-size: 16px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px; 
      height:50px
      }
      .btn-secondary{
        margin-right: 12px;
        height: 50px;
        margin-top: 20px; 
        
         
    
      }
      .btn-group{
        margin-right: 2px;
        height: 50px;
        margin-top: 20px; 
        margin: auto;

      }
      h2{
        font-size: 20px;
        font-weight: 600;
        color: black;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 3px;
        border: 1px solid black;
    
      }  

       